 {% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load static %} 

<div>
 <nav>
       
        <ul><li><a href="about">About</a></li>
            <li><a href="">Avantdeshommes</a></li>
            <li><a href="#s1">Damir Doma</a></li>
            <li><a href="#s2">Ma+</a></li>
            <li><a href="#s3">Dries van Noten</a></li>
            <li><a href="#s4">Kolor</a></li>
            <li><a href="#s5">Label under Construction</a></li>
            <li><a href="#s6">Rick Owens</a></li>
            <li><a href="#footer">Recently Viewed Items</a></li>
        </ul>

    </nav>


</div>

